@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
	
}
.bg__gradient {
	filter: blur(110px);
   transform: translateX(70%) translateY(140%);
   z-index: -100
 }
 
.bg__gradient_main {
	filter: blur(130px);
	transform: translateX(250%) translateY(100%);
   z-index: -100
 }
